{% extends 'du-lis-4050/base.html' %}

{% block main %}
<div class="jumbotron">
    <span itemprop="name">
        <h1 class="display-3" >Library Technologies</h1>
        <h2 class="display-4">Past, Present, &amp; Tomorrow</h2>
    </span>
    <p class="lead">
        Jeremy Nelson<br>Metadata &amp; Systems Librarian, 
        <a href="https://www.coloradocollege.edu/">Colorado College</a><br>
        Co-founder, CTO <a href="http://knowledgelinks.io/">KnowledgeLinks</a>
    </p>
    <p>
        <a class="btn btn-lg btn-success" href="{{ url_for('display', name='brief-history') }}" 
           role="button">Start
            <i class="fa fa-arrow-right"></i>
        </a>
    </p>
</div>

<div class="row marketing">
    <div class="col-lg-6">
        <h4>{{ pages.get('brief-history').meta.title }}
            <a href="{{ url_for('display', name='brief-history') }}"
                class="btn btn-info btn-sm">Go</a>
        </h4>
        <p>{{ pages.get('brief-history').meta.description }}</p>
       
        <h4>{{ pages.get('ils').meta.title }}
            <a href="{{ url_for('display', name='ils') }}"
                class="btn btn-info btn-sm">Go</a>
        </h4>
        <p>{{ pages.get('ils').meta.description }}</p>
        <h4>{{ pages.get('www').meta.title }}
            <a href="{{ url_for('display', name='www') }}"
                class="btn btn-info btn-sm">Go</a>
        </h4>
        <p>{{ pages.get('www').meta.description }}</p>
    </div>
    <div class="col-lg-6">
        <h4>{{ pages.get('digital-repo-discovery').meta.title }}
            <a href="{{ url_for('display', name='digital-repo-discovery') }}"
               class="btn btn-info btn-sm">Go</a>
        </h4>
        <p>
            {{ pages.get('digital-repo-discovery').meta.description }}
        </p>
        <h4>{{ pages.get('linked-data-semantic-web').meta.title }}
            <a href="{{ url_for('display', name='linked-data-semantic-web') }}"
               class="btn btn-info btn-sm">Go</a>
        </h4>
        <p>
           {{ pages.get('linked-data-semantic-web').meta.description }}
        </p>
        <h4>{{ pages.get('bibcat').meta.title }}
            <a href="{{ url_for('display', name='bibcat') }}"
                class="btn btn-info btn-sm">Go</a>
        </h4>
        <p>{{ pages.get('bibcat').meta.description }}</p>
    </div>
</div>
{% endblock %}
