{% extends 'du-lis-4050/base.html' %}

{% block main %}
<div class="jumbotron">
    <span itemprop="name">
        <h2>Library Technologies Past, Present, &amp; Tomorrow</h2>
        <h1 class="display-3">
            {{ page.meta.title }}
        </h1>
    </span>
    <p class="lead" itemprop="description">{{ page.meta.description }}</p>
</div>
 {{ page.html|safe }}
<div class="btn-group">
    {% if 'previous' in page.meta %}
    <a href="{{ url_for('display', name=page.meta.previous) }}"
       class="btn btn-warning">
        <i class="fa fa-caret-left" aria-hidden="true"></i>
    </a> 
    {% endif %}
    {% if 'next' in page.meta %}
    <a href="{{ url_for('display', name=page.meta.next) }}"
        class="btn btn-primary">
            <i class="fa fa-caret-right" aria-hidden="true"></i>
    </a>
    {% endif %}
</div>  
{% endblock %}
